@model PagedList.IPagedList<EmployeeManagement.Models.Employee>

@using PagedList.Mvc;

<h2>Employee Management</h2>



<div>
    <a href="@Url.Content("~/Home/Create")" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"> Add New</span></a>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="form-group pull-right">
            @using (Html.BeginForm("Export","Home",FormMethod.Post))
            {
                <input type="submit" value="Export" class="btn btn-success"/>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <div>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <p>
                            @Html.TextBox("searchString", ViewBag.currentFilter as string, new { @class = "form-control col-md-3", @placeholder = "Shearch....." })
                            &nbsp;<input type="submit" value="Search" class="btn btn-primary" />
                        </p>
                    }

                </div>
                <thead>
                    <tr>

                        <th>
                            Employee Id
                        </th>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PositionSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Position
                            </td>
                            <td>
                                @item.Salary $
                            </td>
                            <td>
                                <a href="@Url.Content("~/Home/Detail?id=")@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span></a>
                                <a href="@Url.Content("~/Home/Edit?id=")@item.Id" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="@Url.Content("~/Home/Delete?id=")@item.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            

        </div><!--table resposive-->
    </div><!--col nested-->
    <div class="col-lg-8">
        <div id="morris-bar-chart"></div>
    </div><!--col nested-->
</div>


